<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<footer class="footer">
	<div class="container bottom_border">
		<div class="row">
			<div class=" col-sm-3 col-md col-sm-4  col-12 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
				<!--headin5_amrc-->
				<p class="mb10">Here we can descripe how to get to your office.</p>
				<p><i class="fa fa-phone"></i> +1 123-123-1234</p>
				<p><i class="fa fa fa-envelope"></i><a href="mailto:cathy@incluvie.com"> Mail us</a></p>
			</div>
	
			<div class=" col-sm-3 col-md col-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li><a href="http://kalarikendramdelhi.com">Image Rectoucing</a></li>
					<li><a href="http://kalarikendramdelhi.com">Clipping Path</a></li>
					<li><a href="http://kalarikendramdelhi.com">Hollow Man Montage</a></li>
					<li><a href="http://kalarikendramdelhi.com">Ebay & Amazon</a></li>
					<li><a href="http://kalarikendramdelhi.com">Hair Masking/Clipping</a></li>
					<li><a href="http://kalarikendramdelhi.com">Image Cropping</a></li>
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>
	
			<div class=" col-sm-3 col-md  col-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li><a href="http://kalarikendramdelhi.com">Remove Background</a></li>
					<li><a href="http://kalarikendramdelhi.com">Shadows & Mirror Reflection</a></li>
					<li><a href="http://kalarikendramdelhi.com">Logo Design</a></li>
					<li><a href="http://kalarikendramdelhi.com">Vectorization</a></li>
					<li><a href="http://kalarikendramdelhi.com">Hair Masking/Clipping</a></li>
					<li><a href="http://kalarikendramdelhi.com">Image Cropping</a></li>
				</ul>
			<!--footer_ul_amrc ends here-->
			</div>
	
		</div>
	</div>
	
	<div class="container">
		<ul class="foote_bottom_ul_amrc">
			<li><a href="/home">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/movies">Movies</a></li>
		</ul>
		<!--foote_bottom_ul_amrc ends here-->
		<p class="text-center">Copyright @2018 | Designed With by <a href="#">incluvie-hackathon</a></p>
		
		<ul class="social_footer_ul">
			<li><a href="https://www.facebook.com/incluvie"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="https://www.instagram.com/incluvie/"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UC-b8EqOV9JBVp_4ejJBlXvQ"><i class="fab fa-linkedin"></i></a></li>
			<li><a href="https://medium.com/@incluvie"><i class="fab fa-instagram"></i></a></li>
		</ul>
		<!--social_footer_ul ends here-->
	</div>
	
	</footer>