<div class="row">
  <div class="col-sm-12">
<form>
      <div class="row">
        <div class="col-9">
          <input type="text" class="form-control" placeholder="Search Movies"
            name="movie" [(ngModel)]="movie">
        </div>
        <div class="col-3">
          <button class="btn-block btn-info form-control" (click)="search()">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div  class="col-sm-4" *ngFor="let movie of result; let i = index">
    <div *ngIf="i < 9">
      <div class="card mt-3 mb-3">
        <div class="card-header text-center">
          {{ movie.release_date | date:'mediumDate':'yyyy' }}
        </div>
        <div class="card-body">
          <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }}" style="height: 460px">
          <p class="text-center">{{ movie.original_title }}</p>
          <a routerLink="/movie/{{ movie.id }}" href="#" class="btn btn-block btn-info">Movie Details</a>
        </div>
        
      </div>
    </div>
  </div>
</div> 



   <div class="grid">
     
    <div *ngFor="let d of data.results">
      <div class='card'>
        <a routerLink="/movie/{{ d.id }}" >
          <img (click)="onSelect(d)" class="card-img-top" src="https://image.tmdb.org/t/p/w342{{d.backdrop_path}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{d.original_title}}</p>
          </div> </a>
      </div> 
    </div>
   </div>
  <!-- </ul>
</div> -->
